<link href="meeting/css/style.css" rel="stylesheet" />
<link href="meeting/css/to-do.css" rel="stylesheet" />
<script src="patients/views/add/view.js"></script>
<link href="patients/views/add/view.css" rel="stylesheet" />
	<img id="top" src="patients/views/add/top.png" alt="">
	<div id="form_container">
	
		<h1 style="margin-top: 0px;padding-top: 10px;color:white;" class=" text-right" translate>הוסף מטופל</h1><br />
<ol class="breadcrumb text-right">
    
  
    <li class="active" translate>Add Meeting</li>
      <li><a href="#/meetings" translate>Meeting</a></li>
    <li><a href="#" translate>Admin</a></li>
</ol>

<div ng-if="add.error" class="alert alert-danger" role="alert">{{ add.error }}</div>
<div ng-if="add.debug" class="alert alert-warning" role="alert">{{ add.debug }}</div>

	              <form class="form-horizontal style-form" method="get">
                 
                  <div  class="form-group ">
                          <label for="first_name"  class="col-md-2   control-label pull-right"><strong>: מטפל</strong></label>

                          <div class="col-sm-10 pull-right">
                           <input type="text" class="form-control text-right " name="therapistId" ng-model="add.meeting.therapistId"
                           id="Text5"
                           placeholder="therapistId" required>
                          </div>
                 </div>

                  <div  class="form-group ">
                          <label for="patientId"  class="col-md-2  control-label pull-right"><strong>: Last Name</strong></label>

                          <div class="col-sm-10 pull-right">
                           <input type="text" class="form-control text-right " name="patientId" ng-model="add.meeting.patientId"
                           id="Text6"
                           placeholder="patientId" required>
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="title"  class="col-md-2  control-label pull-right"><strong>: title</strong></label>

                          <div class="col-sm-10 pull-right">
                           <input type="text" class="form-control text-right " name="title" ng-model="add.meeting.title"
                           id="Text7"
                           placeholder="title" required>
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="adress" class="col-md-2 control-label pull-right"><strong>: adress</strong></label>

                          <div class="col-sm-10 pull-right">
                           <input type="text" class="form-control text-right " name="adress" ng-model="add.meeting.adress"
                           id="Text8"
                           placeholder="adress" required>
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="note" class="col-md-2 control-label pull-right"><strong>: note</strong></label>

                          <div class="col-sm-10 pull-right">
                           <input type="text" class="form-control text-right " name="note" ng-model="add.meeting.note"
                           id="Text9"
                           placeholder="note" required>
                          </div>
                 </div>



                         
                      </form>
		<div id="footer">
		
		</div>
	</div>
	<img id="bottom" src="patients/views/add/bottom.png" alt="">
        <section  id="form_container" class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-right"><h5>משימות <span class="white-panel"><i class=" fa fa-tasks"></i> </span></h5></div>
	                        <br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">
                                  <ul id="sortable" class="task-list ui-sortable">
                                      <li ng-repeat="assignment in add.assignments" class="list-primary ">
                                          <i class=" fa fa-ellipsis-v"></i>
                                          <div class="task-checkbox pull-right">
                                              <input type="checkbox" class="list-child" value="" />
                                          </div>
                                          <div class="task-title">

                                              <div class="pull-left hidden-phone">
                                                  <button ng-click="assignment.idDone=!assignment.idDone" class="btn btn-success btn-xs fa fa-check"></button>
                                                  <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                  <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                              </div>

                                              <span ng-if="assignment.idDone" class="badge bg-success">בוצע</span>
                                              <span ng-if="!assignment.idDone" class="badge bg-info">לא בוצע</span>
                                              <span class="assignment-title-sp pull-right">{{assignment.title}}</span>


                                          </div>
                                      </li>
                                                                    

                                  </ul>
                              </div>
                              <div class=" add-task-row">
                                  <a ng-click="add.openModal()" class="btn btn-success btn-sm pull-left">Add New Tasks</a>
                                  <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
                              </div>
                          </div>

                      </section>